:root {
    --dark-10: #171717;
    --dark-20: #333333;
    --dark-30: #828282;
    --dark-40: #F9F9F9;
    --black-logo: #191b34;
    --blue: #1478e7;
    --blue-light: #7cd7f3;
    --blue-dark: #164782;
}

body {
    font-family: "Roboto", serif;
    color: var(--dark-20);
    text-align: center;
}

/* TÍTULOS e BOTTOM SECTION*/

.titulo {
    padding: 100px 0 60px 0;
}

h6.black,
#contato .subtitulo {
    font-size: 34px;
    color: var(--black-logo);
}

h1.blue,
#contato .contato-titulo {
    font-size: 75px;
    color: var(--blue);
}

#servicos,
#clientes,
#duvidas,
#contato,
#localizacao {
    padding-bottom: 100px;
}

/* FIM TÍTULOS */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(23, 23, 23, 1) 0%, rgba(255, 255, 255, 0.485) 0%, rgba(25, 27, 52, 1) 65%);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, rgba(25, 27, 52, 1) 0%, rgba(62, 79, 113, 1) 49%, rgba(137, 184, 237, 1) 100%);
    border-image-slice: 1;
}

header .logo {
    width: 270px;
}

menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    gap: 25px;
}

menu ul li {
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

menu ul li:hover {
    color: var(--blue);
}

menu a {
    color: var(--dark-40);
}

#sobre {
    background: rgb(23, 23, 23);
    background: linear-gradient(90deg, rgba(23, 23, 23, 1) 0%, rgba(20, 120, 231, 0.48503151260504207) 0%, rgba(25, 27, 52, 1) 65%);
    position: relative;
    text-align: left;
    min-height: 90vh;
}

.sobre_background {
    position: relative;
    height: 90vh;
    z-index: -10;
}

#sobre .descricao {
    color: var(--dark-40);
    width: 40vw;
    position: absolute;
    text-align: center;
    top: 100px;
    right: 70px;
}

#sobre .descricao h1 {
    font-size: 40px;
}

#sobre .descricao p {
    text-align: justify;
    padding-top: 25px;
    line-height: 30px;
    font-size: 18px;
}

#sobre .descricao p.center {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--blue-light);
}

#sobre .contact {
    border: none;
    outline: none;
    height: 45px;
    width: 325px;

    color: var(--dark-40);
    background-color: var(--blue);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    margin-top: 40px;
}

#sobre .contact:hover {
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--blue);
    box-shadow: 2px 2px 2px rgba(0, 181, 253, 0.5);
}

.faixa {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    background-color: var(--black-logo);
}

.faixa .elemento {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.faixa i {
    font-size: 60px;
    color: gold;
    padding-right: 15px;
}

.faixa span {
    font-style: italic;
    color: var(--dark-40);
}

/* SERVIÇOS */

#servicos .frases h1 {
    font-size: 35px;
}

#servicos .frases p {
    font-size: 25px;
    color: var(--blue);
    padding-bottom: 20px;
}

#servicos .servicos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 12%;
}

#servicos img {
    width: 45%;
}

#servicos ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 15px;
    font-size: 20px;
}

#servicos span {
    color: var(--blue);
}

hr {
    margin: 0 auto;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(34, 86, 255), rgb(0, 247, 255), rgba(56, 2, 155, 0));
    border-image-slice: 1;
    width: 40vw;
}

/* CLIENTES */
#clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clientes .cards {
    padding: 40px;
}

#clientes p {
    font-size: 26px;
    font-weight: 700;
    color: var(--dark-30);
}

#clientes .btn-mais {
    background-color: var(--blue);
    color: var(--dark-40);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid transparent;
    padding: 20px 0;
    width: 400px;
    border-radius: 25px;
    margin-top: 40px;
}

#clientes .btn-mais:hover {
    color: var(--blue);
    background-color: transparent;
    border: 2px solid var(--blue);
    cursor: pointer;
}

/* DÚVIDAS FREQUENTES */
#duvidas {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
    background-color: var(--blue);
}

#duvidas .bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #164782;
    width: 100vw;
}

#duvidas h1 {
    text-transform: uppercase;
    font-size: 85px;
    color: var(--dark-40);
    margin-bottom: 60px;
}

#duvidas .duv-img {
    width: 540px;
    height: 540px;
}

.duvida {
    width: 55vw;
    margin-bottom: 20px;
    background-color: #ddd;
    color: var(--blue);
    border: 2px solid var(--blue-light);
    border-radius: 8px;
}

.duvida h3 {
    cursor: pointer;
    display: block;
    padding: 24px;
}

.duvida .paragrafo {
    border-right: 1px solid var(--blue-light);
    border-bottom: 1px solid var(--blue-light);
    border-left: 1px solid var(--blue-light);
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding: 0 24px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .2s;
}

.duvida.ativa .paragrafo {
    font-size: 18px;
    line-height: 35px;
    color: var(--dark-30);
    height: fit-content;
    opacity: 1;
    padding: 24px;
}

/* CONTATO */
#contato {
    text-align: center;
}

#contato .fone {
    color: var(--blue);
    font-weight: 800;
    font-size: 30px;
    padding: 60px;
    /* border: 3px solid var(--blue-dark);
    width: 500px;
    border-radius: 30px;
    margin: auto; */
}

#contato .fone i {
    color: var(--dark-40);
    background-color: var(--blue);
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 35px;
}

#contato .redes {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 25px;
}

#contato .redes .redes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #ddd;
    border-radius: 40px;
    background-color: var(--dark-40);
    align-items: center;
    width: 230px;
    margin-top: 25px;
    padding: 45px 15px;

}

#contato .redes .redes-container i {
    font-size: 32px;
    color: var(--dark-40);

    background-color: var(--blue);
    border-radius: 50px;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contato .redes .redes-container span {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
}

#contato .redes .redes-container p {
    font-size: 14px;
}

#contato .redes .redes-container:hover {
    border: 2px solid var(--dark-30);
    border-radius: 40px;
    cursor: pointer;
}

#contato .redes .redes-container .wpp:hover {
    background-color: #12b40c;
}

#contato .redes .redes-container .insta:hover {
    background-color: #da1852;
}

#contato .redes .redes-container .face:hover {
    background-color: #164782;
}


/* Início de formulário */
form {
    width: 30rem;
    position: relative;
    margin: auto;
    padding: 2rem 0;
}

fieldset {
    border: 0;
}

input,
select {
    border-radius: 2px;
    width: 30vw;
    display: block;
}

.campo {
    padding-bottom: 2px;
}

.campo input[type="text"],
.campo select {
    color: var(--blue-dark);
    border: none;
    outline: none;
    border: 1px solid var(--blue-dark);
    border-radius: 25px;
    padding: 1rem 20px;
    margin-bottom: 1.3rem;
    font-size: 16px;
}

.campo input:focus,
.campo select:focus {
    background-color: #e9e9e9;
}

.campo input::placeholder,
.campo select::placeholder {
    color: var(--blue-dark);
}

.btn-enviar {
    display: block;
    border-radius: 2px;
    font-size: 1.2em;
    background: var(--blue);
    border: 0;
    margin-bottom: 1em;
    color: var(--dark-40);
    padding: 0.3em 1.7em;
    margin: 30px 0 50px 65px;

    transform: translate(-50%, -50%);
}

.btn-enviar:hover {
    background: var(--blue-dark);
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

/*Fim do formulário */